interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&part=id%2Csnippet%2CcontentDetails&id=e1YqueG2gtQ&key=mock_api_key_for_tests
  response:
    body:
      string: !!python/unicode "{\n \"items\": [\n  {\n   \"id\": \"e1YqueG2gtQ\",\n
        \  \"snippet\": {\n    \"title\": \"CHVRCHES - Miracle (Official Video)\",\n
        \   \"channelTitle\": \"ChvrchesVEVO\"\n   },\n   \"contentDetails\": {\n
        \   \"duration\": \"PT3M18S\"\n   }\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"XpPGQXPnxQJhLgs6enD_n8JR4Qk/_7aywKmjt3tZA38MI7cD297mvao"'
    status:
      code: 200
      message: OK
version: 1
