interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%29&maxResults=10&q=chvrches&part=id%2Csnippet&key=mock_api_key_for_tests&type=video%2Cplaylist
  response:
    body:
      string: "{\n \"items\": [\n  {\n   \"id\": {\n    \"kind\": \"youtube#video\",\n
        \   \"videoId\": \"e1YqueG2gtQ\"\n   },\n   \"snippet\": {\n    \"title\":
        \"CHVRCHES - Miracle (Official Video)\",\n    \"thumbnails\": {\n     \"default\":
        {\n      \"url\": \"https://i.ytimg.com/vi/e1YqueG2gtQ/default.jpg\",\n      \"width\":
        120,\n      \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/e1YqueG2gtQ/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/e1YqueG2gtQ/hqdefault.jpg\",\n      \"width\":
        480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\": \"ChvrchesVEVO\"\n
        \  }\n  },\n  {\n   \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\":
        \"HHnjuUVgSJ4\"\n   },\n   \"snippet\": {\n    \"title\": \"Marshmello - Here
        With Me Feat. CHVRCHES [Official Lyric Video]\",\n    \"thumbnails\": {\n
        \    \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/HHnjuUVgSJ4/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.[...]
