interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=id%2Csnippet&pageToken=&fields=nextPageToken%2Citems%28snippet%28title%2CresourceId%28videoId%29%29%29&maxResults=20&key=mock_api_key_for_tests&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR
  response:
    body:
      string: "{\n \"nextPageToken\": \"CBQQAA\",\n \"items\": [\n  {\n   \"snippet\":
        {\n    \"title\": \"Don Omar - Danza Kuduro ft. Lucenzo\",\n    \"resourceId\":
        {\n     \"videoId\": \"7zp1TbLFPp8\"\n    }\n   }\n  },\n  {\n   \"snippet\":
        {\n    \"title\": \"Enrique Iglesias - EL BA\xD1O ft. Bad Bunny\",\n    \"resourceId\":
        {\n     \"videoId\": \"gu9_m0vm7fM\"\n    }\n   }\n  },\n  {\n   \"snippet\":
        {\n    \"title\": \"Pedro Cap\xF3, Farruko - Calma (Remix - Official Video)\",\n
        \   \"resourceId\": {\n     \"videoId\": \"1_zgKRBrT0Y\"\n    }\n   }\n  },\n
        \ {\n   \"snippet\": {\n    \"title\": \"Daddy Yankee - Gasolina (V\xEDdeo)
 [...]
